<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <!-- Navigation bar -->
    <header>
        <div class="container">
            <h1 class="logo">Digital Library</h1>
            <nav>
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('library')}}">Library</a></li>
                    <li><a href="{{url_for('logout')}}">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Hero section -->
    <section id="home" class="hero">
        <div class="hero-content">
            <h2>Hi {{email}}, Welcome to the Digital Library</h2>
            <p>Manage and track your books with ease. Find your next learning opportunity today!</p>
            <a href="{{url_for('library')}}" class="btn-primary">View Books</a>
        </div>
    </section>

    <!-- Upload Section -->
    <section class="upload-section">
        <div class="upload-container">
            <h2>Upload Your Books</h2>
            <p>Share your knowledge with others by uploading your favorite books in PDF format. This feature allows you to manage your library and make resources available to fellow readers.</p>
            <p>Please ensure that your documents are in PDF format and follow our content guidelines. Your contributions will help enrich our digital library.</p>

            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="upload-form">
                <label for="file-upload" id="file-upload-label" class="custom-file-upload">
                    Choose Document
                </label>
                <input type="file" id="file-upload" name="pdf_file" accept="application/pdf" onchange="showFileName()" />
                <input type="submit" value="Upload Book" class="btn-upload">
            </form>

            <div class="upload-tips">
                <h3>Tips for Uploading</h3>
                <ul>
                    <li>Ensure the PDF file is less than 10MB.</li>
                    <li>Provide a clear and informative file name.</li>
                    <li>Upload only materials that you have rights to share.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="contact">
        <div class="container">
            <p>&copy; 2024 Library Management System</p>
        </div>
    </footer>
</body>

<script>
    function showFileName() {
        var input = document.getElementById('file-upload');
        var label = document.getElementById('file-upload-label');
        label.innerHTML = input.files[0].name; // Update label with selected file name
    }
</script>
</html>
